<p id="notice"><%= notice %></p>

<h1>Event Urls</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_urls.each do |event_url| %>
      <tr>
        <td><%= link_to 'Show', event_url %></td>
        <td><%= link_to 'Edit', edit_event_url_path(event_url) %></td>
        <td><%= link_to 'Destroy', event_url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Url', new_event_url_path %>
