<p id="notice"><%= notice %></p>

<h1>Ncco Conversation Actions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mute</th>
      <th>Earmuff</th>
      <th>Event url</th>
      <th>Event method</th>
      <th>Enter sound</th>
      <th>Exit sound</th>
      <th>Music on hold url</th>
      <th>Sound on enter</th>
      <th>End on exit</th>
      <th>Location</th>
      <th>Moderator controls</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ncco_conversation_actions.each do |ncco_conversation_action| %>
      <tr>
        <td><%= ncco_conversation_action.name %></td>
        <td><%= ncco_conversation_action.mute %></td>
        <td><%= ncco_conversation_action.earmuff %></td>
        <td><%= ncco_conversation_action.event_url %></td>
        <td><%= ncco_conversation_action.event_method %></td>
        <td><%= ncco_conversation_action.enter_sound %></td>
        <td><%= ncco_conversation_action.exit_sound %></td>
        <td><%= ncco_conversation_action.music_on_hold_url %></td>
        <td><%= ncco_conversation_action.sound_on_enter %></td>
        <td><%= ncco_conversation_action.end_on_exit %></td>
        <td><%= ncco_conversation_action.location %></td>
        <td><%= ncco_conversation_action.moderator_controls %></td>
        <td><%= link_to 'Show', ncco_conversation_action %></td>
        <td><%= link_to 'Edit', edit_ncco_conversation_action_path(ncco_conversation_action) %></td>
        <td><%= link_to 'Destroy', ncco_conversation_action, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ncco Conversation Action', new_ncco_conversation_action_path %>
