<%- model_class = NccoConversationAction -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:mute) %></th>
      <th><%= model_class.human_attribute_name(:earmuff) %></th>
      <th><%= model_class.human_attribute_name(:event_url) %></th>
      <th><%= model_class.human_attribute_name(:event_method) %></th>
      <th><%= model_class.human_attribute_name(:enter_sound) %></th>
      <th><%= model_class.human_attribute_name(:exit_sound) %></th>
      <th><%= model_class.human_attribute_name(:music_on_hold_url) %></th>
      <th><%= model_class.human_attribute_name(:sound_on_enter) %></th>
      <th><%= model_class.human_attribute_name(:end_on_exit) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%= model_class.human_attribute_name(:moderator_controls) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @ncco_conversation_actions.each do |ncco_conversation_action| %>
      <tr>
        <td><%= link_to ncco_conversation_action.id, ncco_conversation_action_path(ncco_conversation_action) %></td>
        <td><%= ncco_conversation_action.name %></td>
        <td><%= ncco_conversation_action.mute %></td>
        <td><%= ncco_conversation_action.earmuff %></td>
        <td><%= ncco_conversation_action.event_url %></td>
        <td><%= ncco_conversation_action.event_method %></td>
        <td><%= ncco_conversation_action.enter_sound %></td>
        <td><%= ncco_conversation_action.exit_sound %></td>
        <td><%= ncco_conversation_action.music_on_hold_url %></td>
        <td><%= ncco_conversation_action.sound_on_enter %></td>
        <td><%= ncco_conversation_action.end_on_exit %></td>
        <td><%= ncco_conversation_action.location %></td>
        <td><%= ncco_conversation_action.moderator_controls %></td>
        <td><%=l ncco_conversation_action.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_ncco_conversation_action_path(ncco_conversation_action), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      ncco_conversation_action_path(ncco_conversation_action),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_ncco_conversation_action_path,
            :class => 'btn btn-primary' %>
