<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ncco_conversation_action.name %>
</p>

<p>
  <strong>Mute:</strong>
  <%= @ncco_conversation_action.mute %>
</p>

<p>
  <strong>Earmuff:</strong>
  <%= @ncco_conversation_action.earmuff %>
</p>

<p>
  <strong>Event url:</strong>
  <%= @ncco_conversation_action.event_url %>
</p>

<p>
  <strong>Event method:</strong>
  <%= @ncco_conversation_action.event_method %>
</p>

<p>
  <strong>Enter sound:</strong>
  <%= @ncco_conversation_action.enter_sound %>
</p>

<p>
  <strong>Exit sound:</strong>
  <%= @ncco_conversation_action.exit_sound %>
</p>

<p>
  <strong>Music on hold url:</strong>
  <%= @ncco_conversation_action.music_on_hold_url %>
</p>

<p>
  <strong>Sound on enter:</strong>
  <%= @ncco_conversation_action.sound_on_enter %>
</p>

<p>
  <strong>End on exit:</strong>
  <%= @ncco_conversation_action.end_on_exit %>
</p>

<p>
  <strong>Location:</strong>
  <%= @ncco_conversation_action.location %>
</p>

<p>
  <strong>Moderator controls:</strong>
  <%= @ncco_conversation_action.moderator_controls %>
</p>


<%= link_to 'Edit', edit_ncco_conversation_action_path(@ncco_conversation_action) %> |
<%= link_to 'Back', ncco_conversation_actions_path %>
