<p id="notice"><%= notice %></p>

<p>
  <strong>Event url:</strong>
  <%= @ncco_connect_action.event_url %>
</p>

<p>
  <strong>Event method:</strong>
  <%= @ncco_connect_action.event_method %>
</p>

<p>
  <strong>Backup url:</strong>
  <%= @ncco_connect_action.backup_url %>
</p>

<p>
  <strong>Backup url:</strong>
  <%= @ncco_connect_action.backup_url %>
</p>

<p>
  <strong>Backup method:</strong>
  <%= @ncco_connect_action.backup_method %>
</p>

<p>
  <strong>Timeout:</strong>
  <%= @ncco_connect_action.timeout %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @ncco_connect_action.limit %>
</p>

<p>
  <strong>From:</strong>
  <%= @ncco_connect_action.from %>
</p>

<p>
  <strong>Halt on fail:</strong>
  <%= @ncco_connect_action.halt_on_fail %>
</p>

<p>
  <strong>Endpoint:</strong>
  <%= @ncco_connect_action.endpoint %>
</p>

<%= link_to 'Edit', edit_ncco_connect_action_path(@ncco_connect_action) %> |
<%= link_to 'Back', ncco_connect_actions_path %>
