<%- model_class = NccoInputAction -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:time_out) %>:</strong></dt>
  <dd><%= @ncco_input_action.time_out %></dd>
  <dt><strong><%= model_class.human_attribute_name(:max_digits) %>:</strong></dt>
  <dd><%= @ncco_input_action.max_digits %></dd>
  <dt><strong><%= model_class.human_attribute_name(:submit_on_hash) %>:</strong></dt>
  <dd><%= @ncco_input_action.submit_on_hash %></dd>
  <dt><strong><%= model_class.human_attribute_name(:event_url) %>:</strong></dt>
  <dd><%= @ncco_input_action.event_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:event_method) %>:</strong></dt>
  <dd><%= @ncco_input_action.event_method %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              ncco_input_actions_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_ncco_input_action_path(@ncco_input_action), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              ncco_input_action_path(@ncco_input_action),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
