<p id="notice"><%= notice %></p>

<p>
  <strong>Format:</strong>
  <%= @ncco_record_action.format %>
</p>

<p>
  <strong>Split:</strong>
  <%= @ncco_record_action.split %>
</p>

<p>
  <strong>Start on answer:</strong>
  <%= @ncco_record_action.start_on_answer %>
</p>

<p>
  <strong>End on key:</strong>
  <%= @ncco_record_action.end_on_key %>
</p>

<p>
  <strong>Destination url:</strong>
  <%= @ncco_record_action.destination_url %>
</p>

<p>
  <strong>Streamed:</strong>
  <%= @ncco_record_action.streamed %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @ncco_record_action.limit %>
</p>

<p>
  <strong>Validity time:</strong>
  <%= @ncco_record_action.validity_time %>
</p>

<p>
  <strong>Event url:</strong>
  <%= @ncco_record_action.event_url %>
</p>

<p>
  <strong>Event method:</strong>
  <%= @ncco_record_action.event_method %>
</p>

<p>
  <strong>Backup url:</strong>
  <%= @ncco_record_action.backup_url %>
</p>

<p>
  <strong>Backup method:</strong>
  <%= @ncco_record_action.backup_method %>
</p>

<p>
  <strong>Beep start:</strong>
  <%= @ncco_record_action.beep_start %>
</p>

<p>
  <strong>Beep finish:</strong>
  <%= @ncco_record_action.beep_finish %>
</p>

<p>
  <strong>Secure:</strong>
  <%= @ncco_record_action.secure %>
</p>

<%= link_to 'Edit', edit_ncco_record_action_path(@ncco_record_action) %> |
<%= link_to 'Back', ncco_record_actions_path %>
