<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <% if current_admin %>
      <a><%= link_to "Home", root_path, :class => "navbar-brand" %></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">NCCO actions<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
                <li class="divider"></li>
                <li><%= link_to "NCCO - Conversation", ncco_conversation_actions_path %></li>
                <li class="divider"></li>
                <li><%= link_to "NCCO - Input", ncco_input_actions_path %></li>
                <li class="divider"></li>
                <li><%= link_to "NCCO - Stream", ncco_stream_actions_path %></li>
                <li class="divider"></li>
                <li><%= link_to "NCCO - Talk", ncco_talk_actions_path %></li>
                <li class="divider"></li>
                <li><%= link_to "NCCO - Connect", ncco_connect_actions_path %></li>
                <li class="divider"></li>
                <li><%= link_to "NCCO - Record", ncco_record_actions_path %></li>
                <li class="divider"></li>
                <li><%= link_to "NCCO - Conversation", ncco_conversation_actions_path %></li>
                <li class="divider"></li>
          </ul>
                <li><%= link_to "Event URLs", event_urls_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Dashboard", rails_admin_path %></li>

                <ul class="nav navbar-nav">
                  <li><a href="https://addons-sso.heroku.com/apps/3c8ad263-31da-4ebc-9d3f-c7aaa3283dc3/addons/2276b2d3-f474-45d7-b066-70fafd616308">Logs</a></li>
                </ul>
        </li>
      </ul>

      <%= render 'layouts/search' %>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Log Out', destroy_admin_session_path, method: :delete, :class => "navbar-brand" %></li>
      </ul>

      <% else %>
          <a><%= link_to 'Sign Up', new_admin_registration_path, :class => "navbar-brand"%></a>
          <a><%= link_to 'Log In', admin_session_path, :class => "navbar-brand" %></a>
      <% end %>

    </div>
  </div>
</nav>
